<!--Shows notification detail-->

<!--Params:-->
<!--    title-->
<!--    notification-->

{% extends 'users_app/base.html' %}

{% block content %}
    <div class="notification-card">
        <h2>Notification Details</h2>
        <p><span class="notification-label">User ID:</span> {{ notification.user_id }}</p>
        <p><span class="notification-label">Message:</span> {{ notification.message }}</p>
        <p><span class="notification-label">Type:</span> {{ notification.type }}</p>
        <p><span class="notification-label">Status:</span> {{ notification.status }}</p>
        <p><span class="notification-label">Created At:</span> {{ notification.created_at|date:"Y-m-d H:i:s" }}</p>
        <p><span class="notification-label">Updated At:</span> {{ notification.updated_at|date:"Y-m-d H:i:s" }}</p>
    </div>
{% endblock %}
