<!--Show all data about the user with some commands-->

<!--Params:-->
<!--    title-->
<!--    auth_user_id-->
<!--    profile-->
<!--    followers-->
<!--    followings-->

{% extends 'users_app/base.html' %}

{% block content %}

    <h1>{{ profile.user.username }}</h1>
    <p><strong>Bio:</strong> {{ profile.bio }}</p>
    <p><strong>Location:</strong> {{ profile.location }}</p>
    <p><strong>Birth Date:</strong> {{ profile.birth_date }}</p>

    {% if profile.user.pk != auth_user_id %}
        <form action="{% url 'follow_user' profile.user.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">Follow</button>
        </form>

        <form action="{% url 'unfollow_user' profile.user.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">Unfollow</button>
        </form>
    {% else %}
        <p><strong>Following disabled on yourself</strong></p>
    {% endif %}

    <p><strong>Followers</strong></p>
    {% for f in followers %}
        <li><a href="{% url 'profile_detail' f.follower.user.pk %}">{{ f.follower.user }}</a></li>
    {% empty %}
        <li>No followers yet</li>
    {% endfor %}

    <p><strong>Followings</strong></p>
    {% for f in followings %}
        <li><a href="{% url 'profile_detail' f.followed.user.pk %}">{{ f.followed.user }}</a></li>
    {% empty %}
        <li>No followings</li>
    {% endfor %}

    <p><strong>Notifications</strong></p>
    {% for nots in notifications %}
        <li><a href="{% url 'notification_detail' nots.id %}">{{ nots.message }}</a></li>
    {% empty %}
        <li>No notifications</li>
    {% endfor %}


{% endblock %}